/*home首页*/
.header{
    min-width: 1180px;
    height: 80px;
    /*background-color: orange;*/
    box-shadow: 0 1px 2px #f2f2f2;
    margin: 0 auto;
    background-color: #fff;
}
.wrap {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    background: #fff;

}
.yahei {
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.logo{
    display: inline-block;
}
.logo img {
    width: 210px;
}
.nav {

    padding-left: 105px;

}
#navList {
    width: 550px;
    height: 30px;
    margin-top: 25px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 15px;
}
.nav-item {
    float: left;
    width: 110px;
    height: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.nav-item a {
    display: block;
    height: 30px;
    font-size: 16px;
    /*color: #666;*/
    line-height: 30px;
    font-weight: bold;
}
.nav-bar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 30px;
    background-color: #dc284b;
    border-radius: 15px;
    z-index: 0;
}
.header-right {
    margin-left: 30px;
    padding-right: 8px;
}

.login-box {
    margin-top: 35px;
}
.header-search-box {
    position: relative;
    width: 155px;
    height: 32px;
    margin-top: 25px;
    overflow: hidden;
    display: none;
}
.header-search-ipt {
    width: 133px;
    height: 16px;
    padding: 7px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    outline: 0;
    font-family: "Microsoft Yahei";
    line-height: 16px;
}
.head-search-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #dc284b url(http://www.chuguoqu.com/images/icon-common.png) 7px -234px no-repeat;
    text-indent: -9999em;
    overflow: hidden;
}
.country-pop-box {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    padding: 40px 0 50px;
    border-top: 24px solid transparent;
    font-family: "Microsoft Yahei";
    z-index: 9;
}
.country-pop-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    opacity: .98;
    z-index: 0;
}
.country-pop-box .wrap {
    position: relative;
    z-index: 1;
}
.wrap {
    width: 1180px;
    margin: 0 auto;
    background: transparent;
}
.destination-box-arrow {
    position: absolute;
    top: -68px;
    left: 466px;
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom-color: #ededed;
}
.destination-list {
    margin-right: -95px;
    /*position: relative;*/
    /*top: 40px;*/
}
.destination-list-item {
    float: left;
    margin-right: 80px;
}
.destination-list-item strong {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    color: #666;
}
.destination-list-item a {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: #666;
}
.destination-list-item a:hover{
    text-decoration: underline;
}
.other-header {
    border-bottom: 4px solid #dc284b;
}
.container{

}